<div class="col-md-12">

    <h1 class="section-title text-center">Informe seus dados</h1>

    <div class="centered-form">

        <form role="form" class="horizontal-form">

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="noivo" placeholder="Nome do noivo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="email_noivo" placeholder="Email do noivo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="noiva" placeholder="Nome da noiva">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="email_noiva" placeholder="Email da noiva">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="dominio" lowercase placeholder="Domínio do seu site">
                        <span id="helpBlock" class="help-block">Seu site será: www.meucasorio.com.br/pages/{{dominio}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" class="form-control input-lg" ng-model="data" datepicker-popup
                                placeholder="Data do evento">
                    </div>
                </div>

        </form>
    </div>

</div>